.field {
  width: 80%;
  min-height: 12rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #aaa;
}

.cardRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
}
