.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 10rem;
  color: white;
}

.playerButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30%;
}
